# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# testing
coverage/

# supabase
supabase/.branches/
supabase/.temp/

# misc
.cache/
